.container {
  padding: 20px;
  width  : 30em;
}

.containerItem {
  border-bottom : 1px solid #ebedee;
  display       : flex;
  flex-direction: row;
  font-family   : Helvetica, sans-serif;
}

.containerInfo {
  padding: 0 1em;
}

.imageStyle {
  padding-top: 1em;
}

.tituloStyle {
  font-size  : 1.87em;
  font-weight: 700;
  color      : black;
}

.nameStyle {
  font-weight: 700;
  color      : black;
  font-family: Helvetica, sans-serif;
  font-size  : 1.15em;
}

.priceStyle {
  font-weight: 700;
  font-size  : 1em;
}

.containerTotal {
  padding         : 1em;
  background-color: #ebedee;
  color           : black;
  border-top      : 1px solid white;

}

.totalStyle {
  font-size  : 1.1em;
  font-weight: 700;
  font-family: Helvetica, sans-serif;
}

.itemsStyle {
  font-family: Helvetica, sans-serif;
  font-size  : 1em;
}

@media (max-width:500px) {
  .container {
    max-width: 25em;
  }

  .nameStyle {
    font-size: 1em;
  }

}

@media (max-width:430px) {
  .container {
    max-width: 22em;
  }

  .tituloStyle {
    font-size: 1.7em;
  }

  .nameStyle {
    font-size: 0.9em;
  }

  .priceStyle {
    font-size: 0.9em;
  }

}

@media (max-width:380px) {
  .container {
    max-width: 20em;
  }

  .tituloStyle {
    font-size: 1.6em;
  }

  .priceStyle {
    font-size: 0.9em;
  }

  .nameStyle {
    font-size: 0.9em;
  }

}

@media (max-width:350px) {
  .container {
    max-width: 18em;
  }
}

@media (max-width:320px) {
  .container {
    max-width: 16em;
  }

  .tituloStyle {
    font-size: 1.4em;
  }
}
